.item {
  background-color: dimgrey;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 160px 80px 100px 80px;
  grid-template-rows: 80px 200px;
  grid-gap: 1em;
}

.sub-container {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(2, 80px);
  grid-gap: 1em;
}

.inner {
  background-color: lightgrey;
}
.none {
  background-color: white;
}
.a {
  grid-column: span 2;
}

.d {
  grid-column: span 3;
}

.e {
  grid-row: span 2;
}

.f {
  grid-column: span 2;
}
